<div class="section-three">
    <div class="section-three__container container media">
        <div class="section-three__part-one">
            <h4>LOGO</h4>
            <p>Pro eu apeirian suavitate dissentiet, <br>qui dicunt ancillae id, ne mea <br>homero persequeris.</p>
            <div class="section-three__part-one-social">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>


        <div class="section-three__part-two">
            <h2>Causae</h2>
            <h3>Doming</h3>
            <h3>Dicunt</h3>
            <h3>Feugait</h3>
            <h3>Scripta</h3>
        </div>

        <div class="section-three__part-three">
            <h2>Aperiri</h2>
            <h3>Postulant</h3>
            <h3>Affert</h3>
            <h3>Audire</h3>
            <h3>Quaestio</h3>
        </div>

        <div class="section-three__part-four">
            <div class="section-three__part-four-body">
                <img src="img/post2.png" alt="#">
                <div class="section-three__part-four-para">
                    <p>Ius delectus instructior eu, eu eum<br>mentitum percipit forensibus</p>
                    <h3>July 15 2019</h3>
                </div>
            </div>
            <div class="section-three__part-four-body">
                <img src="img/post1.png" alt="#">
                <div class="section-three__part-four-para">
                    <p>Altera integre suavitate per an,<br>alienum phaedrum te sea</p>
                    <h3>July 10 2019</h3>
                </div>
            </div>
        </div>
       
    </div>
   
</div>
<p class="copyright container media"> This is just to demo my web development skills. logos used belong to their owners. Only for DEMO</p>