<div class="navbar">
    <div class="navbar__container container media">

        <h1 class="navbar__logo">LOGO</h1>
        <ul class="navbar__menu">
            <li><a href="#">About</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>

        </ul>
        <a class="navbar__btn" href="#"><button>Sign Up</button></a>
        <div class="hamburger"><img src="img/hamburger.png" alt=""></div>

    </div>
    <div class="navbar__blog">
        <h1>{{ this.page.title }}</h1>
        <p>Quo luptatum evertitur ex</p>
    </div>
</div>