<aside class="aside-container">
    <div class="message">
        <input type="text" placeholder="Search">
    </div>
    <div class="category">
        <h4 class="category__heading heading">Categories</h4>
        <div class="category__content">
            <h5>Principes</h5>
            <h3>7</h3>
        </div>
        <hr>
        <div class="category__content">
            <h5>Nullam</h5>
            <h3>42</h3>
        </div>
        <hr>
        <div class="category__content">
            <h5>Quaerendum</h5>
            <h3>73</h3>
        </div>
        <hr>
        <div class="category__content">
            <h5>Deterruisset</h5>
            <h3>9</h3>
        </div>
        <hr>
        <div class="category__content">
            <h5>Erroribus</h5>
            <h3>20</h3>
        </div>
        <hr>
    </div>

    <div class="post">
        <h4 class="post__heading heading">Recent post</h4>

        <div class="post__body">
            <div class="post__content">
                <div class="post__image post__image--active">
                    <img src="img/post2.png" alt="">
                </div>
                <div class="post__desc">
                    <p>Eu eum mentitum percip forensibus</p>
                    <h3>July 15 2019</h3>
                </div>
            </div>
            <div class="post__content">
                <div class="post__image post__image--active">
                    <img src="img/post1.png" alt="">
                </div>
                <div class="post__desc">
                    <p>Per an, alienum phaedrum te sea</p>
                    <h3>July 10 2019</h3>
                </div>
            </div>
            <div class="post__content">
                <div class="post__image post__image--active">
                    <img src="img/post3.png" alt="">
                </div>
                <div class="post__desc">
                    <p>Ea sed vivendo offendit persecuti</p>
                    <h3>July 7 2019</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="tags">
        <h4 class="tags__heading heading">Tags</h4>
        <div class="tags__body">
            <div class="tags__content">
                <ul class="tags__list">
                    <li class="tags__item"><a href="">Porro</a></li>
                    <li class="tags__item"><a href="">Animal</a></li>
                    <li class="tags__item"><a href="">Ludas</a></li>
                </ul>


                <ul class="tags__list">
                    <li class="tags__item"><a href="">Dignissim</a></li>
                    <li class="tags__item"><a href="">Debet</a></li>
                    <li class="tags__item"><a href="">Quo</a></li>
                </ul>

                <ul class="tags__list">
                    <li class="tags__item"><a href="">Molestiae</a></li>
                    <li class="tags__item"><a href="">Constituto</a></li>
                </ul>
            </div>
        </div>

    </div>
</aside>